#banner{
	background: url(images/background2.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 325px;
	width: 100%;
	position:fixed;
	z-index: 1;
	left:0px;
	top:0px;
}
#palmtree{
	display: block;
	width:450px;
	height:600px;
	background:url(images/palmtree.png);
	position:fixed;
	bottom:50px;
	left:-50px;
}
#fred{
	width:350px;
	height:600px;
	background:url(images/fred.png);
	position:fixed;
	bottom:30px;
	left:0px;
}
#tictac{
	width:275px;
	height:250px;
	background:url(images/tictac.png);
	position:fixed;
	right:0%;
	top: 75%;
	z-index: 49;
}
#emily{
	width:400px;height:400px;
	background:url(images/emily.png);
	position:fixed;
	left:615px;
	top:-50px;
	z-index: 100;
	transform: scale(.75);
}
#colin{
	width:300px;height:450px;
	background:url(images/colin.png);
	position:fixed;
	left:1%;
	top:25%;
	z-index:125;
	transform: scale(.89);
}
#sharpies{
	background:url(images/sharpies1.png);
	width:400px;height:222px;
	position:fixed;
	top:16%;
	right:-5%;
	transform: rotate(-15deg);
}
#arrows1{
	width:400px;height:400px;
	background:url(images/arrows1.png);
	position:fixed;
	right:-5%;
	bottom:-5%;
	transform: scale(.75);
}

//*#eco{
	width:200px;height:120px;
	overflow: hidden;
	position:absolute;
	top:300px;
	left:50px;
}
#eco:hover{
	width:800px;height:480px;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}
#car{
	width:400px;height:300px;
	position:absolute;
	top:300px;
	left:100px;
}
#car:hover{
	width:800px;height:600px;
	margin-left: auto;
	margin-right: auto;
}
#rudder{
	width:200px;height:299.5px;
	position: fixed;
	right: 55%;
	top: 30%;
	transform: rotate(15deg);
}
#rudder:hover{
	transform: rotate(0deg);
	position:absolute;
	right: calc( 50% - 300px );
	top: calc( 50% - 449.25px );
	z-index: 110;
	width:600px;height:898.5px;
}
#rudder:hover img{width:600px;height:898.5px;}
#lemon{
	width:200px;height:299.5px;
	position: fixed;
	left: 15%;
	top: 45%;
	transform: rotate(-10deg);
}
#lemon:hover{
	transform: rotate(0deg);
	position:absolute;
	right: calc( 50% - 300px );
	top: calc( 50% - 449.25px );
	z-index: 110;
	width:600px;height:898.5px;
}
#lemon:hover img{width:600px;height:898.5px;}
#mgs{
	width:200px;height:200px;
	position: fixed;
	right:35%;
	top: 29%;
	transform: rotate(-32deg);
}
#mgs:hover{
	width:600px;height:600px;
	transform: rotate(0deg);
	z-index: 110;
	position:absolute;
	right: calc( 50% - 300px );
	top: calc( 50% - 300px );
}
#mgs:hover img{width:600px;height:600px;}
//*#generations{
	width:500px;height:154px;
	position: fixed;
	right:20%;
	top:50%;
	transform: rotate(15deg);
}
#generations:hover{
	width:1000px;height:308px;
	transform: rotate(0deg)scale(1.4);
	position:absolute;
	right: calc( 50% - 500px );
	top: calc( 50% - 154px );
	z-index: 110;
}
#generations:hover img{width:1000px;height:308px;}

-webkit
-moz
-o
-ms
