/***********************************************************/
/*      DESKTOP                                            */
@media screen and (min-width: 1200px) {
	header{
		width:470px;
		height:400px;
		overflow:hidden;
		border-radius:25px 25px 25px 25px;
		background: url(images/head.png);
		background-repeat: no-repeat;
		position: fixed;
		left: 90px;
		top:0px;
	}

	#lemon{
		width:200px;height:299.5px;
		position: fixed;
		left: 9%;
		top: 55%;
		transform: rotate(-10deg);
		}
		#lemon:hover{
			transform: rotate(0deg);
			position:absolute;
			left: -5%;
			top:450px;
			z-index: 110;
			width:400px;height:599px;
		}
			#lemon:hover img{width:400px;height:599px;}
	#generations{
				width:500px;height:154px;
				position: fixed;
				right:20%;
				top:70%;
				transform: rotate(15deg);
			}
			#generations:hover{
				width:1000px;height:308px;
				transform: rotate(0deg);
				position:absolute;
				right: calc( 50% - 500px );
				top: 775px;
				z-index: 110;
			}
			#generations:hover img{width:1000px;height:308px;}
	#mgs{
				width:200px;height:200px;
				position: fixed;
				right:25%;
				top: 35%;
				transform: rotate(-10deg);
			}
			#mgs:hover{
				width:600px;height:600px;
				transform: rotate(0deg);
				z-index: 110;
				position:absolute;
				right: calc( 50% - 400px );
				top:250px;
			}
			#mgs:hover img{width:600px;height:600px;}
	#rudder{
				width:200px;height:299.5px;
				position: fixed;
				right: 55%;
				top: 30%;
				transform: rotate(15deg);
			}
			#rudder:hover{
				transform: rotate(0deg);
				position:absolute;
				right: 50%;
				top: 300px;
				z-index: 110;
				width:400px;height:599px;
			}
			#rudder:hover img{width:400px;height:599px;}
	#car{
		width:200px;height:150px;
		position:fixed;
		top:60%;
		right:10%;
		transform: rotate(5deg);
		z-index: 50;
		}
		#car:hover{
		width:600px;height:450px;
		right:5.5%;
		top: 50%;
		transform: rotate(0deg);
		z-index: 101;
		}
		#car:hover img{width:600px;height:450px;}
		#smallnav{display:none;}

}
@media screen and (min-width: 800px) and (max-width: 1200px) and (min-device-width: 1024px) {
	header{
		width:400px;
		height:330px;
		overflow:hidden;
		border-radius:25px 25px 25px 25px;
		background: url(images/head.png);
		background-repeat: no-repeat;
		background-size: 100%;
		position: fixed;
		left: 90px;
		top:0px;
	}
	aside{
		overflow:hidden;
		position: fixed;
		top: 65px;
		width: 75px;
		height: 250px;
		left: 470px;
		z-index:100;
	}
	#sharpies{
		position:fixed;
		top:20%;
		right:-15%;
		transform: rotate(-15deg);
	}
	#lemon{
		width:200px;height:299.5px;
		position: fixed;
		left: 9%;
		top: 55%;
		transform: rotate(-10deg);
		}
		#lemon:hover{
			transform: rotate(0deg);
			position:absolute;
			right: calc( 50% - 200px );
			top:450px;
			z-index: 110;
			width:400px;height:599px;
		}
			#lemon:hover img{width:400px;height:599px;}
	#generations{
				width:500px;height:154px;
				position: fixed;
				right:20%;
				top:70%;
				transform: rotate(15deg);
			}
			#generations:hover{
				width:1000px;height:308px;
				transform: rotate(0deg);
				position:absolute;
				right: calc( 50% - 500px );
				top: 775px;
				z-index: 110;
			}
			#generations:hover img{width:1000px;height:308px;}
	#mgs{
				width:200px;height:200px;
				position: fixed;
				right:25%;
				top: 35%;
				transform: rotate(-10deg);
			}
			#mgs:hover{
				width:600px;height:600px;
				transform: rotate(0deg);
				z-index: 110;
				position:absolute;
				right: calc( 50% - 400px );
				top:250px;
			}
			#mgs:hover img{width:600px;height:600px;}
	#rudder{
				width:200px;height:299.5px;
				position: fixed;
				right: 55%;
				top: 30%;
				transform: rotate(15deg);
			}
			#rudder:hover{
				transform: rotate(0deg);
				position:absolute;
				right: 50%;
				top: 300px;
				z-index: 110;
				width:400px;height:599px;
			}
			#rudder:hover img{width:400px;height:599px;}
	#car{
		width:200px;height:150px;
		position:fixed;
		top:60%;
		right:10%;
		transform: rotate(5deg);
		z-index: 50;
		}
		#car:hover{
		width:600px;height:450px;
		right:5.5%;
		top: 50%;
		transform: rotate(0deg);
		z-index: 101;
		}
		#car:hover img{width:600px;height:450px;}
	#colin{
			width:300px;height:450px;
			background:url(images/colin.png);
			position:fixed;
			left:60%;
			top:4%;
			z-index:125;
			transform: scale(.89);
		}
		#text{left:100px;}
		#palmtree{
			width:225px;
			height:300px;
			background:url(images/palmtree.png);
			background-size: cover;
			position:fixed;
			bottom:50px;
			left:-40px;
		}
		.news{
			text-align: left !important;
			width: 75% !important;
		}
		.h p{width: 75%;}
		.h #text {
			width: 75%;
		}

		#smallnav{display:none;}
}
@media screen and (max-width: 800px) and (min-device-width: 1024px){
	header{
		width:400px;
		height:330px;
		overflow:hidden;
		border-radius:25px 25px 25px 25px;
		background: url(images/head.png);
		background-repeat: no-repeat;
		background-size: 100%;
		position: fixed;
		left: 0px;
		top:0px;
	}
	main{
		margin-top: 340px;
		max-height: 100vh;
		position: fixed;
		top: 0px;
		width: 800px;
	}
	nav{
		width:300px;
		height:700px;
		position: fixed;
		left: 390px;
		top:126px;
		}
		nav a{
			margin-left: 0px;
			width:94px;
			height:31.25px;
			display:block;
		}
		nav	#news a:hover{
			transition: none;
			}
		nav	#portfolio a:hover{
			transition: none;
			}
		nav	#about a:hover{
			transition: none;
			}
		nav	#contact a:hover{
			transition: none;
			}
	aside{
		overflow:hidden;
		position: fixed;
		top: 65px;
		width: 75px;
		height: 250px;
		left: 475px;
		z-index:100;
	}
	#sharpies{
		background:url(images/sharpies1.png);
		width:400px;height:222px;
		position:fixed;
		top:74%;
		right:-25%;
		transform: rotate(-15deg)scale(.75);
	}
	#emily{
		width:140px;height:140px;
		background-size: cover;
		left:355px;
		top:0px;
		transform:none;
	}

		#lemon{
					width:200px;height:299.5px;
					transform:none;
					position: absolute;
					left: 0px;
					top: 0px;
				}
		#generations{
					width:500px;height:154px;
					transform:none;
					position: absolute;
					left: 0px;
					top: 350px;
				}
		#mgs{
					width:200px;height:200px;
					transform:none;
					position: absolute;
					left: 400px;
					top: 0px;
				}
		#rudder{
					width:200px;height:299.5px;
					transform:none;
					position: absolute;
					left: 200px;
					top: 0px;
				}
		#car{
					width:200px;height:150px;
					transform:none;
					position: absolute;
					left: 400px;
					top: 200px;
			}
			.news{
				text-align: left !important;
				left:50px !important;
				font-size: 13px;
			}
			#text p{
				padding:0px 10px 0px 10px;
				width: 500px !important;
			}
	#tictac{
				width:275px;
				height:250px;
				background:url(images/tictac.png);
				position:fixed;
				right:-25%;
				top: 75%;
				z-index: 49;
			}
	#colin{
				width:300px;height:450px;
				background:url(images/colin.png);
				background-size: cover;
				position:fixed;
				left:69%;
				top:16%;
				z-index:125;
				transform: scale(.75);
			}
			#text{
				position: absolute;
				top: 125px;
				left: 175px;
				border-radius:25px 25px 25px 25px;
				text-align: center;
				font-family: 'Gloria Hallelujah', cursive;
			}
			.c #text {left: 50px;width: 150px !important;}
			#smallnav{display:none;}

}
/***********************************************************/
/*      IPHONE                                             */
@media screen and (max-width: 540px) and (orientation: portrait){
	#text{
		width:540px;
		height:750px;
		position: absolute;
		top: 300px;
		left: 0px;
		border-radius:25px 25px 25px 25px;
		text-align: left;
		font-family: 'Gloria Hallelujah', cursive;
	}
	#text p{width:540px;}
	body{width:540px;}
	main{width:540px;}
	header{
		width:300px;
		height:230px;
		overflow:hidden;
		border-radius:25px 25px 25px 25px;
		background: url(images/head.png);
		background-repeat: no-repeat;
		background-size: 100%;
		position: fixed;
		left: 0px;
		top:0px;
	}
	nav{display:none;}
	aside{
		overflow:hidden;
		position: fixed;
		top: 200px;
		width: 75px;
		height: 250px;
		left: 10px;
		z-index:100;
	}
	#emily{
		width:140px;height:140px;
		background-size: cover;
		left:275px;
		top:25px;
		transform:none;
	}
	#smallnav{
		display: block;
		position: fixed;
		top:200px;
		left:100px;
		width:200px;
		height:150px;
		z-index:1000;
		}
		#smallnav a{margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;width:94px;height:31.25px;display: block;}
		#smallnav #one a:link{
			background-image: url(images/inactive.png);
			background-position-y: 0px;
		}
		#smallnav #one a:visited{
			background-image: url(images/inactive.png);
			background-position-y: 0px;
		}
		#smallnav #one a:hover{
			background-image: url(images/active.png);
			background-position-y: 0px;
		}
		#smallnav	#one a:active{
			background-image: url(images/inactive.png);
			background-position-y: 0px;
		}
		#smallnav #two a:link{
			background-image: url(images/inactive.png);
			background-position-y: 31.25px;
		}
		#smallnav #two a:visited{
			background-image: url(images/inactive.png);
			background-position-y: 31.25px;
		}
		#smallnav #two a:hover{
			background-image: url(images/active.png);
			background-position-y: 31.25px;
		}
		#smallnav	#two a:active{
			background-image: url(images/inactive.png);
			background-position-y: 31.25px;
		}
		#smallnav #three a:link{
			background-image: url(images/inactive.png);
			background-position-y: 62.5px;
		}
		#smallnav #three a:visited{
			background-image: url(images/inactive.png);
			background-position-y: 62.5px;
		}
		#smallnav #three a:hover{
			background-image: url(images/active.png);
			background-position-y: 62.5px;
		}
		#smallnav	#three a:active{
			background-image: url(images/inactive.png);
			background-position-y: 62.5px;
		}
		#smallnav #four a:link{
			background-image: url(images/inactive.png);
			background-position-y: 93.75px;
		}
		#smallnav #four a:visited{
			background-image: url(images/inactive.png);
			background-position-y: 93.75px;
		}
		#smallnav #four a:hover{
			background-image: url(images/active.png);
			background-position-y: 93.75px;
		}
		#smallnav	#four a:active{
			background-image: url(images/inactive.png);
			background-position-y: 93.75px;
		}

}
/***********************************************************/
/*      PRINT                                              */
@media only print {
  body {
	width: 100%;
	background-color: #FFF;
	font-family: Georgia, serif;
	font-size: 14px;
	color: #000;
  }
	#printindex{display:block;}
	#printportfolio{display:block;float:right;margin-top:0px;}
	#printabout{display:block;}
	#printcontact{display:block;}
	#palmtree{display:none;}
	header{display:none;}
	#banner{display:none;}
}
/***********************************************************/
