#banner{
	height: 325px;
	width: 100%;
	position:absolute;
	z-index: 1;
	left:0px;
	top:0px;
}
body{
	width: 100%;
	height: auto;
}
header{
	overflow:hidden;
	border-radius:25px 25px 25px 25px;
	background: url(images/head.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0px;
	top:0px;
	width:300px;
	height:230px;
}

main{
	margin-top: 340px;
	max-height: 100%;
width:100%;
margin:0px;}
#car{position: absolute;
	left: 210px;
	top: 0px;
}
#lemon{position: absolute;top: 200px;
	left: 210px;
}
#text{
	width:100%;
	height:auto;
	margin-top: 320px;
	margin-left: 0px;
	border-radius:25px 25px 25px 25px;
	text-align: left;
	font-family: 'Gloria Hallelujah', cursive;

}

	#text p{
		text-align: center;
}
	.contact{
		text-align: center !important;
	}
	#emily{
		width:140px;height:140px;
		background-size: cover;
		left:355px;
		top:0px;
		transform:none;
	}
	footer{
		width:250px;
		height:106px;
		margin-left: 0px;
		background: url(images/footer5.png);
		background-repeat: no-repeat;

	}
	#annoy{
		margin-top: 1150px;
	}
	#Pictures{
		position: absolute;
		left: 0px;
		top: 300px;
		width: 100%;
	}
	aside{
		overflow:hidden;
		position: absolute;
		top: 25px;
		width: 75px;
		height: 250px;
		right: 0px;
		z-index:100;
	}
	aside a{
		width:75px;
		height:75px;
		display:block;
		margin-bottom:5px;
		margin-top:5px;
	}
	#Background{
		width: 100%;
		height: 100%;
		background: url(images/mobilebg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: fixed;
		left:0px;top:0px;
		z-index:-100;
	}
		aside li{margin-top:-10px;}
		aside #face	a:link{
		background-image: url(images/media.png);
		background-position-x:0px;
		}
		aside #face	a:visited{
		background-image: url(images/media.png);
		background-position-x:-0px;
		}
		aside	#face a:hover{
		background-image: url(images/media.png);
		background-position-x:-75px;
		}
		aside	#face a:active{
		background-image: url(images/media.png);
		background-position-x:-0px;
		}
		aside #insta a:link{
		background-position-y:-75px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #insta a:visited{
		background-position-y:-75px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #insta a:hover{
		background-position-y:-75px;
		background-position-x:-75px;
		background-image: url(images/media.png);
		}
		aside #insta a:active{
		background-position-y:-75px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #tube a:link{
		background-position-y:-150px;
		background-position-x:0px;
		background-image: url(images/media.png);
		}
		aside #tube a:visited{
		background-position-y:-150px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #tube a:hover{
		background-position-y:-150px;
		background-position-x:-75px;
		background-image: url(images/media.png);
		}
		aside #tube a:active{
		background-position-y:-150px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		#smallnav{
			display:block;
			width:200px;height:150px;
			z-index:1000;
		}
		#smallnav a{
			margin-left:5px;
			margin-right:5px;
			margin-top:5px;
			margin-bottom:5px;
			width:94px;height:31.25px;
			display:block;
			overflow:hidden;}
		#smallnav #one a:link{background-image:url(images/news.png);}
		#smallnav #one a:visited{background-image:url(images/news.png);}
		#smallnav #one a:hover{background-image:url(images/news.png);}
		#smallnav	#one a:active{background-image:url(images/news.png);}
		#smallnav #two a:link{background-image:url(images/portfolio.png);}
		#smallnav #two a:visited{background-image:url(images/portfolio.png);}
		#smallnav #two a:hover{background-image:url(images/portfolio.png);}
		#smallnav	#two a:active{background-image:url(images/portfolio.png);}
		#smallnav #three a:link{background-image:url(images/about.png);}
		#smallnav #three a:visited{background-image:url(images/about.png);}
		#smallnav #three a:hover{background-image: url(images/about.png);}
		#smallnav	#three a:active{background-image:url(images/about.png);}
		#smallnav #four a:link{background-image: url(images/contact.png);}
		#smallnav #four a:visited{background-image:url(images/contact.png);}
		#smallnav #four a:hover{background-image:url(images/contact.png);}
		#smallnav	#four a:active{background-image:url(images/contact.png);}
		.dropbtn:hover, .dropbtn:focus {outline:0;}
		.dropbtn {border:none;cursor:pointer;width:100px;height:83px;}
		.dropdown {	position: absolute;
			top:200px;
			left:0px;display:block;width:94px;height:31.25px;z-index:1111;}
		.dropdown-content {display:none;position:absolute;overflow:hidden;z-index:1;}
		.dropdown-content a {text-decoration:none;display:block;}
		button{width:100px;height:83px;background:url(images/menu.png);background-size:cover;}
		.show {display:block;}
		ul{
			padding:0px;
			list-style: none;
			display: block;
		}
		#printMN{display:none;}
		#printMP{display:none;}
		#printMC{display:none;}
		#printMA{display:none;}
		@media only print {
		#printMN{display:block;}
		#printMP{display:block;}
		#printMC{display:block;}
		#printMA{display:block;}
		#Background{display:none;}
		#banner{display:none;}
}
