#banner{
	background: url(images/background2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 325px;
	width: 100%;
	position:fixed;
	z-index: 1;
	left:0px;
	top:0px;
}


header{
	width:400px;
	height:330px;
	overflow:hidden;
	border-radius:25px 25px 25px 25px;
	background: url(images/head.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: fixed;
	left: 0px;
	top:0px;
}
main{
	margin-top: 340px;
	max-height: 100vh;
	position: fixed;
	top: 0px;
	width: 800px;
}
	#text{
		width:500px;
		height:750px;
		position: absolute;
		top: 300px;
		left: 0px;
		border-radius:25px 25px 25px 25px;
		text-align: left;
		font-family: 'Gloria Hallelujah', cursive;
	}
	#text p{width:500px;}
	body{width:540px;}
	main{width:540px;margin:0px;}
	header{
		width:300px;
		height:230px;
		overflow:hidden;
		border-radius:25px 25px 25px 25px;
		background-repeat: no-repeat;
		background-size: 100%;
		position: fixed;
		left: 0px;
		top:0px;
	}
	#emily{
		width:140px;height:140px;
		background-size: cover;
		left:355px;
		top:0px;
		transform:none;
	}
	body{
width: 540px;
		background: url(images/background2.jpg);}
	footer{
		width:250px;
		height:106px;
		position: fixed;
		bottom: -25px;
		left: 0px;
		background: url(images/footer5.png);
		background-repeat: no-repeat;

	}
	aside{
		overflow:hidden;
		position: fixed;
		top: 25px;
		width: 75px;
		height: 250px;
		right: 0px;
		z-index:100;
	}
	aside a{
		width:75px;
		height:75px;
		display:block;
		margin-bottom:5px;
		margin-top:5px;
	}
		aside li{margin-top:-10px;}
		aside #face	a:link{
		background-image: url(images/media.png);
		background-position-x:0px;
		}
		aside #face	a:visited{
		background-image: url(images/media.png);
		background-position-x:-0px;
		}
		aside	#face a:hover{
		background-image: url(images/media.png);
		background-position-x:-75px;
		}
		aside	#face a:active{
		background-image: url(images/media.png);
		background-position-x:-0px;
		}
		aside #insta a:link{
		background-position-y:-75px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #insta a:visited{
		background-position-y:-75px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #insta a:hover{
		background-position-y:-75px;
		background-position-x:-75px;
		background-image: url(images/media.png);
		}
		aside #insta a:active{
		background-position-y:-75px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #tube a:link{
		background-position-y:-150px;
		background-position-x:0px;
		background-image: url(images/media.png);
		}
		aside #tube a:visited{
		background-position-y:-150px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		aside #tube a:hover{
		background-position-y:-150px;
		background-position-x:-75px;
		background-image: url(images/media.png);
		}
		aside #tube a:active{
		background-position-y:-150px;
		background-position-x:-0px;
		background-image: url(images/media.png);
		}
		#smallnav{
			left:-50px;
			display:block;
			position:fixed;
			width:200px;height:150px;
			z-index:1000;
		}
		#smallnav a{
			margin-left:5px;
			margin-right:5px;
			margin-top:5px;
			margin-bottom:5px;
			width:94px;height:31.25px;
			display:block;
			overflow:hidden;}
		#smallnav #one a:link{background-image:url(images/active.png);background-position-y:0px;}
		#smallnav #one a:visited{background-image:url(images/active.png);background-position-y:0px;}
		#smallnav #one a:hover{background-image:url(images/active.png);background-position-y:0px;}
		#smallnav	#one a:active{background-image:url(images/active.png);background-position-y:0px;}
		#smallnav #two a:link{background-image:url(images/active.png);background-position-y:31.25px;}
		#smallnav #two a:visited{background-image:url(images/active.png);background-position-y:31.25px;}
		#smallnav #two a:hover{background-image:url(images/active.png);background-position-y:31.25px;}
		#smallnav	#two a:active{background-image:url(images/active.png);background-position-y:31.25px;}
		#smallnav #three a:link{background-image:url(images/active.png);background-position-y:62.5px;}
		#smallnav #three a:visited{background-image:url(images/active.png);background-position-y:62.5px;}
		#smallnav #three a:hover{background-image: url(images/active.png);background-position-y: 62.5px;}
		#smallnav	#three a:active{background-image:url(images/active.png);background-position-y:62.5px;}
		#smallnav #four a:link{background-image: url(images/active.png);background-position-y:93.75px;}
		#smallnav #four a:visited{background-image:url(images/active.png);background-position-y:93.75px;}
		#smallnav #four a:hover{background-image:url(images/active.png);background-position-y:93.75px;}
		#smallnav	#four a:active{background-image:url(images/active.png);background-position-y:93.75px;}
		.dropbtn:hover, .dropbtn:focus {outline:0;}
		.dropbtn {border:none;cursor:pointer;width:100px;height:83px;}
		.dropdown {	position: fixed;
			top:200px;
			left:100px;display:block;width:94px;height:31.25px;z-index:1111;}
		.dropdown-content {display:none;position:absolute;overflow:hidden;z-index:1;}
		.dropdown-content a {text-decoration:none;display:block;}
		button{width:100px;height:83px;background:url(images/menu.png);background-size:cover;}
		.show {display:block;}
		ul{
			padding:0px;
			list-style: none;
			display: block;
		}
