ul{
	padding:0px;
	list-style: none;
	display: block;
}
li{
}
nav{
	width:300px;
	height:700px;
	position: fixed;
	left: 0px;
	top:126px;
}
	nav a{
	margin-left: -45px;
	width:94px;
	height:31.25px;
	display:block;
	}
	nav #news	a:link{
	background-image: url(images/inactive.png);
	background-position-y: 0px;
	}
	nav	#news a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 0px;
	}
	nav	#news a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 0px;
	margin-left: 0px;
	}
	nav	#news	a:active{
	background-image: url(images/inactive.png);
	background-position-y: 0px;
	}
	nav #portfolio a:link{
	background-image: url(images/inactive.png);
	background-position-y: 93.75px;
	}
	nav	#portfolio a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 93.75px;
	}
	nav	#portfolio a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 93.75px;
	margin-left: 0px;
	}
	nav	#portfolio a:active{
	background-image: url(images/inactive.png);
	background-position-y: 93.75px;
	}
	nav #about a:link{
	background-image: url(images/inactive.png);
	background-position-y: 62.5px;
	}
	nav	#about a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 62.5px;
	}
	nav	#about a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 62.5px;
	margin-left: 0px;
	}
	nav	#about a:active{
	background-image: url(images/inactive.png);
	background-position-y: 62.5px;
	}
	nav #contact a:link{
	background-image: url(images/inactive.png);
	background-position-y: 31.25px;
	}
	nav	#contact a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 31.25px;
	}
	nav	#contact a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 31.25px;
	margin-left: 0px;
	}
	nav	#contact a:active{
	background-image: url(images/inactive.png);
	background-position-y: 31.25px;
	}

aside a{
	width:75px;
	height:75px;
	display:block;
	margin-bottom:5px;
	margin-top:5px;
}
	aside li{margin-top:-10px;}
	aside #face	a:link{
	background-image: url(images/media.png);
	background-position-x:0px;
	}
	aside #face	a:visited{
	background-image: url(images/media.png);
	background-position-x:-0px;
	}
	aside	#face a:hover{
	background-image: url(images/media.png);
	background-position-x:-75px;
	}
	aside	#face a:active{
	background-image: url(images/media.png);
	background-position-x:-0px;
	}
	aside #insta a:link{
	background-position-y:-75px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #insta a:visited{
	background-position-y:-75px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #insta a:hover{
	background-position-y:-75px;
	background-position-x:-75px;
	background-image: url(images/media.png);
	}
	aside #insta a:active{
	background-position-y:-75px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #tube a:link{
	background-position-y:-150px;
	background-position-x:0px;
	background-image: url(images/media.png);
	}
	aside #tube a:visited{
	background-position-y:-150px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #tube a:hover{
	background-position-y:-150px;
	background-position-x:-75px;
	background-image: url(images/media.png);
	}
	aside #tube a:active{
	background-position-y:-150px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
