#banner{
	background: url(images/background2.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 325px;
	width: 100%;
	position:fixed;
	z-index: 1;
	left:0px;
	top:0px;
}
#palmtree{
	display: block;
	width:450px;
	height:600px;
	background:url(images/palmtree.png);
	position:fixed;
	bottom:50px;
	left:-50px;
}
#fred{
	width:350px;
	height:600px;
	background:url(images/fred.png);
	position:fixed;
	bottom:30px;
	left:0px;
}
#tictac{
	width:275px;
	height:250px;
	background:url(images/tictac.png);
	position:fixed;
	right:0%;
	top: 75%;
	z-index: 49;
}
#emily{
	width:400px;height:400px;
	background:url(images/emily.png);
	position:fixed;
	left:615px;
	top:-50px;
	z-index: 100;
	transform: scale(.75);
}
#colin{
	width:300px;height:450px;
	background:url(images/colin.png);
	position:fixed;
	left:1%;
	top:25%;
	z-index:125;
	transform: scale(.89);
}
#sharpies{
	background:url(images/sharpies1.png);
	width:400px;height:222px;
	position:fixed;
	top:16%;
	right:-5%;
	transform: rotate(-15deg);
}
#arrows1{
	width:400px;height:400px;
	background:url(images/arrows1.png);
	position:fixed;
	right:-5%;
	bottom:-5%;
	transform: scale(.75);
}
