main{
	width: 1024px;
	height: auto;
	margin: auto;
	position: relative;
}
body{
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0;
	min-height: 100vh;
	background: url(images/background2.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#text{
	width:725px;
	height:750px;
	position: absolute;
	top: 350px;
	left: 175px;
	border-radius:25px 25px 25px 25px;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}
footer{
	width:250px;
	height:106px;
	position: fixed;
	bottom: -25px;
	left: 0px;
	background: url(images/footer5.png);
	background-repeat: no-repeat;

}
aside{
	overflow:hidden;
	position: fixed;
	top: 115px;
	width: 75px;
	height: 250px;
	left: 540px;
	z-index:100;
}
#text p{
	padding:0px 10px 0px 10px;
	width: 780px;
}
#fix{
	margin: auto;
	margin-top:200px;
}
.news{
	text-align: left !important;
}
p a{
	text-decoration: none;
}
#printindex{display:none;}
#printportfolio{display:none;}
#printabout{display:none;}
#printcontact{display:none;}
#sf{
	width:622px;height:154px;
	position: fixed;
	right: 35%;
	top: 55%;
	transform: rotate(-10deg);
}
#sf:hover{
	position: fixed;
	right: 15%;
	top: 55%;
	transform: rotate(0deg);
	z-index: 110;
	width:1244px;height:308px;
}
#sf:hover img{width:1244px;height:308px;}
