ul{
	padding:0px;
	list-style: none;
	display: block;
}
li{
}
nav{
	width:300px;
	height:700px;
	position: fixed;
	left: 0px;
	top:126px;
}
	nav a{
	margin-left: -45px;
	width:94px;
	height:31.25px;
	display:block;
	}
	nav #news	a:link{
	background-image: url(images/inactive.png);
	background-position-y: 0px;
	}
	nav	#news a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 0px;
	}
	nav	#news a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 0px;
	margin-left: 0px;
	}
	nav	#news	a:active{
	background-image: url(images/inactive.png);
	background-position-y: 0px;
	}
	nav #portfolio a:link{
	background-image: url(images/inactive.png);
	background-position-y: 93.75px;
	}
	nav	#portfolio a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 93.75px;
	}
	nav	#portfolio a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 93.75px;
	margin-left: 0px;
	}
	nav	#portfolio a:active{
	background-image: url(images/inactive.png);
	background-position-y: 93.75px;
	}
	nav #about a:link{
	background-image: url(images/inactive.png);
	background-position-y: 62.5px;
	}
	nav	#about a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 62.5px;
	}
	nav	#about a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 62.5px;
	margin-left: 0px;
	}
	nav	#about a:active{
	background-image: url(images/inactive.png);
	background-position-y: 62.5px;
	}
	nav #contact a:link{
	background-image: url(images/inactive.png);
	background-position-y: 31.25px;
	}
	nav	#contact a:visited{
	background-image: url(images/inactive.png);
	background-position-y: 31.25px;
	}
	nav	#contact a:hover{
	transition: all .25s linear 0s;
	background-image: url(images/active.png);
	background-position-y: 31.25px;
	margin-left: 0px;
	}
	nav	#contact a:active{
	background-image: url(images/inactive.png);
	background-position-y: 31.25px;
	}

aside a{
	width:75px;
	height:75px;
	display:block;
	margin-bottom:5px;
	margin-top:5px;
}
	aside li{margin-top:-10px;}
	aside #face	a:link{
	background-image: url(images/media.png);
	background-position-x:0px;
	}
	aside #face	a:visited{
	background-image: url(images/media.png);
	background-position-x:-0px;
	}
	aside	#face a:hover{
	background-image: url(images/media.png);
	background-position-x:-75px;
	}
	aside	#face a:active{
	background-image: url(images/media.png);
	background-position-x:-0px;
	}
	aside #insta a:link{
	background-position-y:-75px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #insta a:visited{
	background-position-y:-75px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #insta a:hover{
	background-position-y:-75px;
	background-position-x:-75px;
	background-image: url(images/media.png);
	}
	aside #insta a:active{
	background-position-y:-75px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #tube a:link{
	background-position-y:-150px;
	background-position-x:0px;
	background-image: url(images/media.png);
	}
	aside #tube a:visited{
	background-position-y:-150px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}
	aside #tube a:hover{
	background-position-y:-150px;
	background-position-x:-75px;
	background-image: url(images/media.png);
	}
	aside #tube a:active{
	background-position-y:-150px;
	background-position-x:-0px;
	background-image: url(images/media.png);
	}

/*
ul{
	padding:0px;
	list-style: none;
	display: block;
}
nav #menu2 a{
	width:150px;
	height:125px;
	display:block;
	margin-top: -25px;
}
nav a{
	width:150px;
	height:125px;
	display:block;
}
nav #home	a:link{
	background-image: url(images/menu12.png);
	background-position-x:0px;
}
nav	#home a:visited{
	background-image: url(images/menu12.png);
	background-position-x:-0px;
}
nav	#home a:hover{
	background-image: url(images/menu12.png);
	background-position-x:-0px;
	background-position-y:-125px;
}
nav	#home	a:active{
	background-image: url(images/menu12.png);
	background-position-x:-0px;
}
nav #more{
	background-image: url(images/menu12.png);
	background-position-x:-150px;
	width: 150px;
}
nav	#more:hover{
	background-image: url(images/menu12.png);
	background-position-x:-150px;
	background-position-y:-125px;
}
#more:hover #moremenu{display: block;}
#moremenu{
	width: 150px;
	height: 525px;
	display:none;
	position: absolute;
	right: 0px;
}
#filler{
	width: 150px;
	height: 150px;
	margin-top: -25px;
}
#menu1 #home, #menu1 #more{float:left;}
nav #news	a:link{
	background-image: url(images/menu21.png);
	background-position-x:0px;
}
nav	#news a:visited{
	background-image: url(images/menu21.png);
	background-position-x:-0px;
}
nav	#news a:hover{
	background-image: url(images/menu21.png);
	background-position-x:-150px;
}
nav	#news	a:active{
	background-image: url(images/menu21.png);
	background-position-x:-0px;
}
nav #portfolio a:link{
	background-position-y:-125px;
	background-position-x:0px;
	background-image: url(images/menu21.png);
}
nav #portfolio a:visited{
	background-position-y:-125px;
	background-position-x:-0px;
	background-image: url(images/menu21.png);
}
nav #portfolio a:hover{
	background-position-y:-125px;
	background-position-x:-150px;
	background-image: url(images/menu21.png);
}
nav #portfolio a:active{
	background-position-y:-125px;
	background-position-x:-0px;
	background-image: url(images/menu21.png);
}
nav #about a:link{
	background-position-y:-250px;
	background-position-x:0px;
	background-image: url(images/menu21.png);
}
nav #about a:visited{
	background-position-y:-250px;
	background-position-x:-0px;
	background-image: url(images/menu21.png);
}
nav #about a:hover{
	background-position-y:-250px;
	background-position-x:-150px;
	background-image: url(images/menu21.png);
}
nav #about a:active{
	background-position-y:-250px;
	background-position-x:-0px;
	background-image: url(images/menu21.png);
}
nav #contact a:link{
	background-position-y:-375px;
	background-position-x:0px;
	background-image: url(images/menu21.png);
}
nav #contact a:visited{
	background-position-y:-375px;
	background-position-x:-0px;
	background-image: url(images/menu21.png);
}
nav #contact a:hover{
	background-position-y:-375px;
	background-position-x:-150px;
	background-image: url(images/menu21.png);
}
nav #contact a:active{
	background-position-y:-375px;
	background-position-x:-0px;
	background-image: url(images/menu21.png);
}
*/
